@media (max-width: 1440px) {
    .map-img {
        width: 100%;
    }

    .contact-box {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 8rem 0rem 4rem;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .contact>.contact-box>.contact-container {
        display: flex;
        justify-content: center;
        gap: 2.5rem;
    }
}

@media (max-width: 1232px) {
    .about-content>.about-details>.about-headings {
        justify-content: center;
    }

    .about-content>.about-details>.about-heading-content {
        align-items: center;
    }


    .footer-context>.footer-details {
        padding: 0px 4rem;
        width: 92rem;
    }

    .footer-context>.footer-links {
        width: 87%;
        justify-content: space-between;
    }

}

@media (max-width: 1111px) {
    .home-container>.rightCardSection {
        width: 28rem;
        height: 33rem;
    }
}

@media (max-width: 1008px) {
    main>.home-container {
        flex-direction: column;
    }

    .home-container>.rightCardSection {
        width: 33rem;
        height: 33rem;
    }

    .about>.about-content {
        flex-direction: column;
        align-items: center;
    }

    .about>.about-content>.about-details {
        width: 100%;
    }

    .about-details>.about-heading-content>.about-text-1>a {
        margin: 0 auto;
    }

    .about-stats>.about-progress-bar>span {
        top: 1.2rem;
    }

}


@media (max-width: 900px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 57%;
    }

    .header>.box {
        display: block;
        z-index: 999;
        overflow: hidden;
    }

    .header>ul {
        position: absolute;
        display: block;
        top: 0;
        left: -100%;
        width: 100%;
        background-color: var(--second-bg-color);
        transition: all 0.5s ease-in-out;
    }

    .header>ul>li {
        display: block;
        padding: 2rem 0;
        text-align: center;
    }

    .header>ul>li>a {
        font-size: 2rem;
    }

    .header>ul>li:hover {
        background-color: var(--bg-color);
    }

    main>.home-container {
        padding: 11rem 9%;
    }

    main>.about {
        padding: 8rem 9% 2rem;
    }

    .services-box>.services-content>.services-text>h3 {
        font-size: 1.6rem;
    }

    .services-box>.services-content>.services-text>p {
        font-size: 1.28rem;
    }

    .about-stats>.about-progress-bar>span {
        top: 1.3rem;
    }
}


@media (max-width: 672px) {
    .contact>.contact-box>.contact-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact-container>.form-section {
        width: 74%;
    }

    .contact-container>.contact-section {
        width: 74%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 54%;
    }

    /* .pro-abt-btns:hover {
        border: 1px solid var(--text-color);
    } */

    .footer-context>.footer-details {
        padding: 0px 0rem;
    }

    .footer-context>.footer-links {
        width: 100%;
        justify-content: space-between;
        font-size: 1.25rem;
    }

}

@media (max-width: 490px) {
    .map-img>.map-detail {
        top: calc(45% - 0.4rem);
        left: calc(2% - 0.4rem);
    }

    .map-detail>i {
        align-self: end;
    }

    .footer-context>.footer-details {
        font-size: 1.46rem;
    }

    .footer-link>h2 {
        font-size: 2.06rem;
    }
}

@media (max-width: 452px) {
    html {
        font-size: 52%;
    }

    .about-details>.about-heading-content>.about-text-3>.about-stats {
        width: 88%;
    }

    .about-details>.about-heading-content>.about-text-3 {
        align-items: center;
    }

    .footer-context>.footer-links {
        font-size: 1.3rem;
        flex-direction: column;
    }

    .about-stats>.about-progress-bar>span {
        top: 1.6rem;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 48%;
    }

    .home>.home-content>h3 {
        font-size: 2.5rem;
    }

    .home>.home-content>h1 {
        font-size: 4.5rem;
    }

    .home>.home-content>p {
        font-size: 1.4rem;
    }

    .home>.home-button {
        display: flex;
        height: 3rem;
        gap: 2.8rem;
    }

    .about>.about-content>.about-details {
        height: 45rem;
    }

    .about-content>.about-details>.about-headings {
        flex-direction: column;
        justify-content: center;
        align-self: center;
        gap: 1.3rem;
        width: 100%;
    }

    .about-content>.about-details>.about-headings>h3 {
        width: 93%;
    }

    .about-details>.about-heading-content>.about-text-3 {
        gap: 1.8rem;
    }

    .project>.project-btns {
        gap: 1.3rem;
        flex-direction: column;
    }

    .pro-abt-btns {
        text-align: center;
        width: 72%;
        font-size: 1.6rem;
    }
}

@media (max-width: 360px) {
    .home-container>.card {
        width: 21rem;
        height: 27rem;
    }

    .map-img>.map-detail {
        width: 18rem;
    }

    .social-media>a {
        width: 3rem;
        height: 3rem;
    }

    .services-box:hover>.services-content>.services-text>p {
        font-weight: 900;
    }

    .contact-section>.contact-sec-icon {
        padding: 0 0.4rem;
        gap: 1rem;
    }

}

@media (max-width: 340px) {
    .about-details>.about-heading-content>.about-text-3>.about-stats {
        width: 84%;
    }
}

@media (max-width: 330px) {
    .about>.about-content>.about-img>img {
        width: 93%;
        height: 93%;
    }

    .about-details>.about-heading-content>.about-text-3>.about-stats {
        width: 80%;
    }
}